body {
    font-family: 'Montserrat',
    sans-serif;
    background-color: #F5F7FA;
}

.about-me-profession {
    font-size: 14px;
    font-weight: 700;
    color: black;

}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #F5F7FA;
    margin: 40px auto;
}

.about-me-section {
    
}

.my-project-section {
    
}

.my-experience-section {
    
}

.my-education-section {
    
}

.sidebar-section {
    background: #1E2939;
}